html,body {
    height: 100%;
}

body
{
  text-align: center;
  background: rgb(242,141,0);
background: linear-gradient(90deg, rgba(242,141,0,1) 0%, rgba(247,0,47,1) 0%, rgba(63,0,254,1) 100%, rgba(255,0,0,1) 100%);
  padding: 0 10px;
}

.icons
{
  padding: 10% 0;
}

img
{
  height: 200px;
  width: 200px
}

.hicon
{
  color: white;
padding-top: 30px;
padding-bottom: 30px;
}

.update
{
text-decoration: none;

}

.navbutton
{
  background-color: black;
}

.navelements
{
  color: black;
}
.zoom
{
  padding: 50px;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.zoom:hover
{
  transform: scale(1.5);
}

.imgcolor
{
color: white;
}

.title
{
  text-align: center;
  padding-top:4%;
  color: white;
}