<!DOCTYPE html>
<html lang="en">
<head>

<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="{{ url_for('static',filename='table style.css') }}">

  <title>History</title>
      <!-- {% if result %}   -->         
            <h1  style="color: whitesmoke;font-style: italic;">History</h1>
             <!--   <table border="1"
               cellspacing="15">
               <tr>
                  <th>User Id</th>

                  <th>Risk Factor</th>
                  <th>Heart Rate</th>
                  <th>Date and Time</th>
               </tr>
               {% for i in result %}
                  <tr>
                     <td>{{ i[0] }}</td>
                     <td>{{ i[1] }}</td>
                     <td>{{ i[2] }}</td>
                     <td>{{ i[3] }}</td>
                  </tr>
               {% endfor %}
               </table>
   
         {% endif %} -->
         <table class="center">
      <thead>
         <tr>
            <th>User Id</th>
            <th>Heart Rate</th>
            <th>cigspreday</th>
            <th>sysBP</th>
            <th>diaBP</th>
            <th>cholostrol</th>
            <th>BMI</th>
            <th>Risk Factor</th>
            <th>Date and time</th>
         </tr>
      </thead>
      <tbody>
         </tr>
               {% for i in result %}
                  <tr>
                     <td>{{ i[0] }}</td>
                     <td>{{ i[1] }}</td>
                     <td>{{ i[2] }}</td>
                     <td>{{ i[3] }}</td>
                     <td>{{ i[4] }}</td>
                     <td>{{ i[5] }}</td>
                     <td>{{ i[6] }}</td>
                     <td>{{ i[7] }}</td>
                     <td>{{ i[8] }}</td>

                  </tr>
               {% endfor %}
      </tbody>
   </table>
      </head>
      </html>