
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Heart Disease Prediction</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
</head>
<body>
	<div class="container" id="container">
	<div class="form-container teacher-container">
		<form action="{{url_for('signup')}}" method="post" Class="teacher-form">
                        <input type="text" name="Uname" placeholder="Enter User Name" Class="inputField">
                        <input type="password" name="Password"  placeholder="Enter Password " Class="inputField">

                        <input type="submit" Class="teacher-login" value="Register">
		</form>
	</div>
	
	<div class="form-container student-container">
		<form action="{{url_for('home')}}" method="post" Class="student-form">
			<div class="container-header">
				<h1>Welcome back</h1>
			</div>
                        <input type="text" name="Name" placeholder="Enter User Name" Class="inputField">
                        <input type="password" name="Password"  placeholder="Enter Password " Class="inputField">
			<br>
                        <input type="submit" value="Login" Class="student-login">
		</form>
	</div>
	
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Already a User</h1>
				<p>Click here to login</p>
				<button class="ghost" id="signIn">User login</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>New User?</h1>
				<p>Click here to Register</p>
				<button class="ghost" id="signUp">Register</button>
			</div>
		</div>
	</div>
</div>	
	<script src="{{url_for('static', filename='index.js')}}"></script>
</body>
</html>